* {
    box-sizing: border-box;
    /* border: solid 2px black; */
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

#product-overview {
    background: url("./freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
}

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 72px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 5px;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: white 5px solid;
}

.main-nav_item-cta a {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 8px 16px;
}

.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
    color: red;
    background-color: white;
    border: none;
}

.main-nav_item {
    display: inline-block;
    margin: 8px;
}

.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 16px;
    margin: 8px;
    vertical-align: center;
}

.plan--highlight {
    background: rgb(13, 155, 13);
    color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.plan__annotation {
    color: green;
    background: white;
    box-shadow: 2px 2px 2px 2px rgb(79, 73, 73);
    padding: 5px;
    border-radius: 5px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    margin: 8px 0;
}

.plan__type {
    color: rgb(52, 49, 49);
}

.plan__price {
    color: gray;
}

.plan--highlight .plan__price {
    color: rgb(2, 40, 2);
}

.button {
    background: rgb(37, 61, 37);
    color: white;
    font: inherit;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: rgb(37, 61, 37);
    background: white;
}

#key-features {
    background: rgb(229, 116, 135);
    width: 100%;
}

#key-features .section-title {
    color: white;
    padding: 16px;
    margin-top: 80px;
}

.features {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.features li {
    display: inline-block;
    width: 30%;
    font: inherit;
    font-weight: bold;
}

.features__image {
    background: rgb(251, 243, 244);
    width: 128px;
    height: 128px;
    border: solid rgb(37, 61, 37) 2px;
    border-radius: 50%;
    margin: auto;
}